HOST=localhost
MONGO_URI=mongodb://localhost:27017/LRS
MONGO_DB=LRS
AAT_URI=mongodb://user:readonlyuser@adapt-authoring.example.com:27017/adapt-tenant-master
AAT_DB=adapt-tenant-master
SSLKEY=key.pem
SSLCERT=cert.pem
PORT=80
SECUREPORT=443
GOOGLE_CLIENT_ID=myclientid.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=secret
LEARNING_LOCKER_KEY=basic auth key