<%- include('../partials/header') %>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"/>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/2.2.3/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<div class="container box">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span>Courses list</h1>
        <div id="updateArea">
            <button id="updateButton">Update course list</button>
            <span id="loadingText" style="display: none;">Loading...</span>
          </div>
        <table id="courses_table" class="display responsive wrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Course title</th>
                <th>Page title</th>
                <th>Tags</th>
                <th># articles</th>
                <th># blocks</th>
                <th># assessments</th>
                <th># questions</th>
                <th># words</th>
                <th class="none">Description</th>
            </tr>
    </thead>
    <tbody id="courses_table_body">

    </tbody>
</table>
    </div>
</div>
<script>
    function removeHTML(str){
        var tmp = document.createElement("DIV");
        tmp.innerHTML = str;
        return tmp.textContent || tmp.innerText || "";
    }
   function addToRow(row,value) {
    var td = document.createElement('td');
    td.innerHTML = value;
    row.append(td);
   }
   function addToRowLink(row,link,value) {
    var td = document.createElement('td');
    var a = document.createElement('a');
    a.setAttribute('href', link);
    a.innerHTML = value;
    td.append(a)
    row.append(td);
   }
   function addToRowHidden(row,value) {
    var td = document.createElement('td');
    td.className = "none";
    td.innerHTML = value;
    row.append(td);
   }
   function updateAndRefresh() {
    document.getElementById('updateButton').style.display = 'none';
    document.getElementById('loadingText').style.display = 'inline';
    // Make an AJAX request to the API with forceUpdate=true
    fetch('/api/contentObjects/summary?forceUpdate=true')
        .then(response => {
        if (response.ok) {
            // If the response is successful, refresh the page
            window.location.reload();
        } else {
            // Handle error if needed
            console.error('Failed to update and refresh:', response.statusText);
        }
        })
        .catch(error => {
        // Handle network or other errors
        console.error('Error:', error);
        });
    }

   $(document).ready( function () {
    document.getElementById('updateButton').addEventListener('click', updateAndRefresh);
    $.get('/api/contentObjects/summary', function(contentObjects) {
        for (const contentObject of contentObjects) {
        var courseTitle = contentObject.courseTitle;
        var row = document.createElement('tr');
        addToRow(row, courseTitle);
        addToRowLink(row, '/course/' + contentObject._id, contentObject.title);
        addToRow(row, contentObject.tags);
        addToRow(row, contentObject.totalArticleCount);
        addToRow(row, contentObject.totalBlockCount);
        addToRow(row, contentObject.assessmentCount);
        addToRow(row, contentObject.questionCount);
        addToRow(row, contentObject.wordCount);
        addToRowHidden(row, removeHTML(contentObject.description));
        if (contentObject.title) {
            document.getElementById('courses_table_body').append(row);
        }
        }
        $('#courses_table').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        pageLength: 25,
        buttons: [
            'copy', 'excel', 'csv'
        ]
        });
      });
  });

</script>
<%- include('../partials/footer') %>